*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  padding: 2em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-color: black;
  background-color: white;
  color: black;
}
.darkModeBody {
  background-color: #131213;
  color: white;
}
.breakLine {
  width: 100%;
  padding: 0.3em;
  background: linear-gradient(
    90deg,
    rgba(39, 40, 49, 0.942),
    rgb(240, 155, 7),
    rgba(39, 40, 49, 0.942)
  );
}
