.header {
  width: 100%;
  border: 0.3em;
  border-style: outset;
  border-color: black;
  background: linear-gradient(
    90deg,
    rgba(39, 40, 49, 0.942),
    rgb(187, 120, 4),
    rgba(20, 20, 21, 0.942)
  );
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.darkButton {
  border-radius: 50%;
  padding: 0.3em;
}
.header__headline {
  text-align: center;
  font-size: 2em;
  text-shadow: 2px 1px 0 #b93e32;
}
